<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
<meta name=viewport content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<!-- build:remove -->
<title>JB-Survey DEV</title>
<link href="jbsurvey.max.css" type="text/css" rel=stylesheet>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="js/jb.inc.js"></script>
<script src="js/jbsurvey.max.js"></script>
<!-- /build -->
<!-- build:template
<title>JB-Survey <%= version %></title>
<link type="text/css" href=jbsurvey-<%= version %>.css rel=stylesheet>
<script src="jquery-<%= jqVersion %>.min.js"></script>
<script src=jbsurvey-<%= version %>.js></script>
/build -->
</head>
<body>
<ol id="question" class="question"></ol>
<ol id="answer" class="answer">
</ol>
<button id="next" class="next"></button>
<button id="finish" class="finish"></button>
<button id="end" class="end"></button>
</body>
</html>

